app = 'greedy-api'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  PORT = '8080'
  NODE_ENV = 'production'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
